@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');


  .bg_pic_container {
    position: relative;
    max-width: 100%; /* 設定容器寬度 */
    height: 450px; /* 設定容器高度 */
    overflow: hidden; /* 隱藏溢出的內容 */
  }

  .bg_pic_aligned-image {
    width: 100%; /* 讓圖片寬度與容器相符 */
    height: auto;
    object-fit: cover; /* 保持圖片比例並填充整個容器 */
    object-position: top; /* 將圖片從上方對齊 */
  }

  .bg_pic_transparent-image {
    opacity: 0.8; /* 透明度，0為完全透明，1為完全不透明 */
  }

  .bg_pic_darkened-image {
    filter: brightness(0.75); /* 0.5 是一個介於 0（黑暗）和 1（原始亮度）之間的值 */
  }

  /*選單內容*/
  .menu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50%;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block; /* 橫向排列 */
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative; /* 使得偽元素相對於該列表項目定位 */
  }

  .menu li::before,
  .menu li::after {
    content: ""; /* 初始為空 */
    color: #ffffff; /* 豎線的顏色 */
    margin: 0 5px; /* 豎線格開的左右間距，可以根據需要更改 */
    position: absolute;
    top: 50%; /* 豎線相對於父元素上下居中 */
    transform: translateY(-50%);
    height: 100%; /* 讓豎線的高度與字相等 */
    transition: all 0.3s; /* 增加平滑過渡效果 */
  }

  .menu li::before {
    left: -15px; /* 左邊的豎線格開位置 */
  }

  .menu li::after {
    right: -15px; /* 右邊的豎線格開位置 */
  }

  .menu li:hover::before,
  .menu li:hover::after {
    content: "|"; /* 滑鼠指到字上時，豎線格開的內容，可以根據需要更改 */
  }

  .menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight:lighter;
    font-size: 120%;
  }

  .overlay-text {
    position: absolute; /* 設定絕對定位 */
    top: 50%; /* 距離容器頂部的位置 */
    left: 50%; /* 距離容器左側的位置 */
    transform: translate(-50%, -50%); /* 將文字居中定位 */
    color: white; /* 文字顏色 */
    font-size: 60px; /* 文字大小 */
  }

  .item-image-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  }

  .item-image-container img {
    width: 20vw; /* 設定圖片寬度，可根據實際需求調整 */
    height: auto; /* 保持圖片比例 */
    margin-top: 30px; 
    margin-right: 70px; /* 設定圖片之間的右邊距，可根據實際需求調整 */
  }

  .title{
    font-size: 4.8vw;
    text-align: center;
    margin-top: 40px;    /* 上邊距為 10px */
    margin-bottom: 15px; /* 下邊距為 15px */
  }

  .content{
    font-size: 1.8vw;
    text-align: center;
    margin-top: 40px;    /* 上邊距為 10px */
    margin-bottom: 15px; /* 下邊距為 15px */
  }


  
  